*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.header{
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.4);
    background: linear-gradient(transparent, 80%, #00ABB3);
}

.header__h1{
    font-size: 4rem;
    font-family: sans-serif;
}

.main{
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 3rem 4rem;
}

.main__h2{
    font-size: 3.5rem;
    font-family: sans-serif;
}

.main__list{
    width: 30rem;
    display: flex;
    flex-direction: column;
    height: 30rem;
    list-style: none;
    gap: 3rem;
}

.main__listItem{
    width: 80%;
    min-height: 5rem;
}

.main__link{
    text-decoration: none;
    font-size: 3.5rem;
    font-family: sans-serif;
    color: #00ABB3;
    padding: 0.5rem;
    border: 0.2rem solid black;
    border-radius: 1rem;
}

.main__link:hover{
    cursor: pointer;
    color: teal;
    background: black;
    border: 0.2rem solid #00ABB3;
    transition: 0.5s;
}

.main__p{
    font-size: 2rem;
    font-family: sans-serif;
    color: #00ABB3;
}

.footer{
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.4);
    background: linear-gradient(#00ABB3, 20%, transparent);
}

.footer__h4{
    font-size: 2rem;
    font-family: sans-serif;
}

.form{
    height: 40rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 2rem;
}

.form__input{
    border: 0.2rem solid black;
    width: 80%;
    height: 3rem;
    font-size: 2rem;
    padding: 0.5rem;
}

.form__textarea{
    border: 0.2rem solid black;
    width: 80%;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.form__submit{
    border: 0.2rem solid black;
    background: transparent;
    width: 10rem;
    height: 4rem;
    padding: 1rem;
}

  